<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311115419598-6vm1e4v9ooo24uj73nko8o4519a2niio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311115419598-6vm1e4v9ooo24uj73nko8o4519a2niio</string>
	<key>API_KEY</key>
	<string>AIzaSyCvcvsMsJNquozE-nTUzgZkm_qJrixVSMA</string>
	<key>GCM_SENDER_ID</key>
	<string>311115419598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dz.goudjal.anfari</string>
	<key>PROJECT_ID</key>
	<string>anfari-5665e</string>
	<key>STORAGE_BUCKET</key>
	<string>anfari-5665e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311115419598:ios:c989cd7a7c0932adede59f</string>
</dict>
</plist>